<!DOCTYPE html>
<html>
  <head>

  </head>

  <body>

  </body>

  <script src="https://cdn.auth0.com/js/auth0/9.5.1/auth0.min.js"></script>
  <script>
    const auth = new auth0.WebAuth({
      domain: 'auth.texastribune.org',
      clientID: 'Vn0ybEhggwAKFQ96HC04ynY5YM99_dQl',
      redirectUri: 'http://local.texastribune.org/complete/',
      responseType: 'id_token id code',
      scope: 'openid profile email',
    });
    auth.parseHash({ hash: window.location.hash }, () => {
      // will eventually go back to user's original page
      window.location.href = 'http://local.texastribune.org/donate';
    });
  </script>
</html>
